*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(90deg, #012aa5, #0090F0, #012aa5);
}

.produtos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px  10px;

    width: 100%;
}

.produto{

    &:hover{
        transition: ease-in 1s;
        transform: scale(1.02);
    }

    margin: 10px auto;
    display: flex;

    border: 2px black solid;
    width: 450px;
    background-color: white;
    border-radius: 12px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    img{
        width: 200px;
   
    }
    
    h2{
        color: blue;
        margin-top: 10px;
        font-size: 24px;
        width: 100%;

        font-weight: bold;
    
    }

    p{
        width: 95%;
        font-size: 16px;
        color: gray;
    }

    a{
        display: flex;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 5px;
        justify-content: center;
        width: 150px;
        height: 30px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: blue;
        color: white;
        border-radius: 12px;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        &:hover{
            background-color: white;
            color: blue;
            border: blue 2px solid;
            transition: ease-in 0.1s;
            transform: scale(1.05);
        }
    }
}